body {
    background-color: #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-array-size,
#max-number-value {
    width: 40px;
}

#timer-input {
    width: 60px;
}

/* unsorted */
#unsorted-array-container {
    display: grid;
    grid-template-rows: repeat(2);
}
#unsorted-value-container {
    display: flex;
    flex-direction: row;
}
#unsorted-index-container {
    display: flex;
    flex-direction: row;
}

/* counting */
#counting-array-container {
    display: grid;
    grid-template-rows: repeat(2,);
}
#counting-value-container,
#counting-index-container {
    display: flex;
    flex-direction: row;
}

/* sorted */
#sorted-array-container {
    display: grid;
    grid-template-rows: repeat(2);
}
#sorted-value-container,
#sorted-index-container {
    display: flex;
    flex-direction: row;
}

.value-box {
    background-color:aliceblue;
    height: 80px;
    width: 64px;
    border: 2px solid black;
    font-size: 3em;
    text-align: center;
    align-content: center;
    gap: 10px;
}

.index-box {
    background-color: rgb(86, 128, 164);
    height: 30px;
    width: 64px;
    border: 2px solid black;
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    gap: 10px;
}

.highlight{
    animation: flash;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        background-color:aliceblue;
    }
    100% {
        background-color:rgb(16, 156, 156)
    }
    /* 100% {
        background-color:aliceblue;
    } */
}
